<!DOCTYPE html>
<html>
    <title>Theta Events - Edit Profile</title>
    <% var loggedIn; %>
    <% include ./partials/head %>

    <% include ./partials/navbar %>

    <body>
        <main>
            <div class="container">
                <br/>
                <% if (sessionFlash && sessionFlash.message) { %>
                    <div class="alert alert-<%= sessionFlash.type %> animated fadeInLeft"><%= sessionFlash.message %><i class="alertClose material-icons">close</i></div>
                <% } %>

                <div class="row">
                    <h2 class="bold fg-grey">Edit Profile</h2>
                    <br />

                    <form class="col s10 center-align offset-s1 l8 offset-l2" action="/edit-profile" method="POST">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="username" type="text" name="username" required="" value="<%= username %>" class="validate" />
                                <label for="username">Username</label>
                            </div>

                            <div class="input-field col s12">
                                <input id="firstName" type="text" name="firstName" required="" value="<%= firstName %>" class="validate" />
                                <label for="firstName">First Name</label>
                            </div>

                            <div class="input-field col s12">
                                <input id="lastName" type="text" name="lastName" required="" value="<%= lastName %>" class="validate" />
                                <label for="lastName">Last Name</label>
                            </div>

                            <div class="input-field col s12">
                                <input id="newPassword" type="password" name="newPassword" value="" class="validate" />
                                <label for="newPassword">New Password</label>
                            </div>

                            <div class="input-field col s12">
                                <input id="newPasswordConfirm" type="password" name="newPasswordConfirm" value="" class="validate" />
                                <label for="newPasswordConfirm">New Password Confirm</label>
                            </div>

                            <button class="bg-blue btn waves-effect waves-light" style="width: 97%" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>

        <% include ./partials/footer %>

        <script>
            // Close button functionality.
            var closeButton = document.getElementsByClassName("alertClose");
                
            for (var i = 0; i < closeButton.length; i++) {
                alertCloseClick(closeButton[i], '.alert');
            }
    
            // Remove alert after 2.5 seconds.
            setTimeout(function() {
                $('.alert').addClass("animated fadeOutLeft");
            }, 2500);
        </script>
    </body>
</html>